.signcontainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 24px);
  min-height: 1000px;
  margin: 12px auto 0 auto;
  border-radius: 36px;
  box-shadow: 0px 6px 12px 0px rgb(34, 34, 34, 0.25);
  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  bottom: 12px;
  background-color: #ededed;
  z-index: 4;
  overflow: auto;
  height: auto;
}
.imagearea {
  background-color: #90001d;
  height: 25.2%;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.signpic {
  width: 175.4px;
  height: 113.6%;
  transform: rotateZ(-90deg);
  border-radius: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.form {
  height: 74.8%;

  padding: 32px 12px 0 12px;
}
.mainlabel {
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  margin: 0px 8px 64px 0;
}
.exit {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer;
}
.info {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
}
.smallinput {
  padding: 16px;
  outline: none;
  border: 1px solid #666666;
  border-radius: 4px;
  width: calc(50% - 7.5px);
  direction: rtl;
  text-align: right;
}
.smallinput:focus {
  background-color: #e6e0e9;
}
.username {
  direction: ltr;
  text-align: left;
}
.username::placeholder {
  direction: rtl;
  text-align: right;
}
.wideinput {
  width: 100%;
  padding: 16px;
  outline: none;
  border: 1px solid #666666;
  border-radius: 4px;
  direction: rtl;
}
.wideinput:focus {
  background-color: #e6e0e9;
}
.wideinput::placeholder {
  color: #666666;
}
.p {
  font-size: 14;
  color: #557b97;
  display: block;
  width: 100%;
  margin-top: 20px;
}
.pointer {
  cursor: pointer;
}
.submit {
  display: block;
  margin: 50px auto 0 auto;
  color: #ededed;
  background-color: #557b97;
  padding: 10px 80px;
  border-radius: 25px;
  cursor: pointer;
}
.submit:hover {
  background-color: #456883;
}
.reg {
  font-weight: bold;
  cursor: pointer;
}
.termssection {
  display: flex;
  gap: 20px;
  align-items: center;
}
.terms {
  font-size: 12px;
}
.a {
  text-decoration: underline;
  color: #456883;
  cursor: pointer;
}
.checkbox {
  width: 18px;
  height: 18px;
  align-self: flex-end;
}
.passerror {
  color: #90001d;
  display: block;
  width: 100%;
  font-size: 14px;
}
.showpasscl {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}
.passinput {
  position: relative;
  width: 100%;
}
.setdirection {
  direction: ltr;
  text-align: right;
}
.error {
  width: 400px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #90001d;
  background-color: bisque;
  border-radius: 25px;
  padding: 20px;
}
.hideform {
  display: none;
}
.showpasschange {
  display: flex;
  flex-direction: column;

  height: 74.8%;
  padding: 32px 12px 0 12px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 24, 39, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e5e7eb;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

/* سبينر */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #93c5fd;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .exit {
    top: 18px;
    right: 22px;
    width: 42px;
    height: 42px;
  }
  .signcontainer {
    flex-direction: row-reverse;
    height: 700px;
    width: 92%;
  }
  .imagearea {
    min-height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    width: 33%;
  }
  .signpic {
    transform: rotateZ(0deg);
    width: 77.54%;
    height: 40%;
  }
  .form {
    height: 100%;
    width: 66%;

    padding: 120px 50px 0 100px;
  }
}
@media (min-width: 1024px) {
  .signpic {
    width: 77.54%;
    height: 50%;
  }
  .form {
    padding: 120px 50px 0 150px;
  }
}
@media (min-width: 1162px) {
  .signpic {
    width: 77.54%;
    height: 55%;
  }
  .form {
    padding: 120px 50px 0 200px;
  }
  .terms {
    font-size: 14px;
  }
  .mainlabel {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .signcontainer {
    width: 100%;
  }
  .form {
    padding: 80px 50px 0 200px;
  }
  .info {
    gap: 20px;
    font-size: 16px;
  }
  .smallinput {
    width: calc(50% - 10px);
  }
  .submit {
    padding: 12px 120px;
    font-size: 16px;
    margin-top: 30px;
  }
}
@media (min-width: 1300px) {
  .signpic {
    width: 90%;
    height: 70%;
  }
  .form {
    padding: 80px 50px 0 200px;
  }
  .terms {
    font-size: 16px;
  }
  .mainlabel {
    font-size: 22px;
  }
  .info {
    gap: 25px;
    font-size: 16px;
  }
  .smallinput {
    width: calc(50% - 12.5px);
  }
}
@media (min-width: 1400px) {
  .form {
    padding: 80px 50px 0 250px;
  }
}
