.container {
  max-width: 650px;
  margin: 60px auto 300px auto;
  padding: 35px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2c3e50;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  color: #555;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}

.button {
  background-color: #3498db;
  color: white;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 320px;
}

.button:hover {
  background-color: #2980b9;
}

.cancelButton {
  background-color: #ddd;
  color: #333;
}

.cancelButton:hover {
  background-color: #ccc;
}

.selectedMethod {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.walletNumber {
  font-size: 22px;
  font-weight: bold;
  color: #27ae60;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  margin-top: 10px;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
}

.uploadLabel {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.successMessage {
  margin-top: 30px;
  padding: 20px;
  background-color: #eafaf1;
  border: 2px solid #27ae60;
  color: #2c7a4b;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
}

.paymentSection {
  margin-top: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 24, 39, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e5e7eb;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

/* سبينر */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #93c5fd;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
