.profile_page {
  padding: 0px 96px 96px 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container {
  padding: 32px;
  background-color: white;
  width: 800px;
  border-radius: 24px;
  box-shadow: 0 0 10px 4px #25252530;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding-bottom: 20px;
  border-bottom: 5px solid #457f8c;
  border-radius: 5px;
}
.image {
  width: 200px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.1);
}
.imageWrapper {
  position: relative;
}
.clickToChange {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #e5ecf3;
  border-radius: 12px;
  color: #252525;
  width: 90%;
  text-align: center;
  align-content: center;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.clickToChange:hover {
  left: 50%;
  transform: translateX(-50%) scale(1.1);
}
.sideHeaderInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.sideHeaderInfo h1 {
  font-size: 16px;
  font-weight: 900;
  color: #457f8c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sideHeaderInfo h2 {
  font-size: 16px;
  font-weight: 100;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sideHeaderInfo h3 {
  font-size: 14px;
  font-weight: 100;
  color: #777;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sideHeaderInfo h4 {
  font-size: 16px;
  font-weight: 900;
  color: #011f2e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sideHeaderInfo h5 {
  font-size: 16px;
  font-weight: 900;
  color: #444;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sideHeaderInfo h6 {
  font-size: 14px;
  font-weight: 900;
  color: #252525;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.body {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.inputsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 50%;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 80px;
}
.inputWrapper label {
  text-align: right;
  width: 300px;
  font-size: 14px;
  color: #252525d0;
}
.input {
  width: 300px;
  height: 44px;
  padding: 10px;
  border: 2px solid #457f8c;
  border-radius: 3px;
  background-color: #96adb1;
  outline: none;
  direction: rtl;
  color: #252525;
  transition: all 0.1s ease-out;
  font-size: 16px;
  font-weight: 900;
}
.input:focus {
  border-width: 3px;
  border-color: #3e98ff;
}
.inputError {
  border-width: 3px;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.198);
}
.imageError {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 12px;
  animation: profileErrorAnimation 0.3s ease-in-out forwards;
}
.inputWrapper p {
  width: 300px;
  text-align: right;
  color: red;
  font-size: 12px;
  animation: profileErrorAnimation 0.3s ease-in-out forwards;
}
.serverError {
  color: red;
  font-size: 12px;
  animation: profileErrorAnimation 0.3s ease-in-out forwards;
}
@keyframes profileErrorAnimation {
  0% {
    transform: translateY(-5px);
    opacity: 0.1;
  }
  33% {
    transform: translateY(5px);
    opacity: 0.8;
  }
  66% {
    transform: translateY(2px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.updatebtn {
  margin-top: 40px;
  padding: 12px 36px;
  border-radius: 12px;
  background-color: #457f8c;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}
.updatebtn:hover {
  background-color: #237182;
}
.updatebtn:disabled {
  background-color: #457f8cae;
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .profile_page {
    padding: 0px 48px 96px 48px;
  }
  .profile_container {
    width: 700px;
  }
}
@media (max-width: 1068px) {
  .profile_page {
    padding: 0px 12px 96px 12px;
  }
  .profile_container {
    width: 600px;
  }
  .inputWrapper label {
    width: 250px;
  }
  .input {
    width: 250px;
  }
}
@media (max-width: 940px) {
  .profile_page {
    width: 90%;
  }
  .profile_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    gap: 30px;
  }
  .inputsSection {
    width: 100%;
  }
  .inputWrapper label {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .header {
    justify-content: space-between;
    gap: 10px;
  }
}
@media (max-width: 640px) {
  .header {
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  .updatebtn {
    font-size: 14px;
    font-weight: 600;
  }
}
