.customVideoWrapper {
  position: relative;
  width: 80%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 10px;
  margin: 2rem auto;
}

.customVideoWrapper :global(.plyr) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}

.customVideoWrapper :global(.plyr__controls) {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .customVideoWrapper {
    width: 100%;
    padding-top: 75%;
  }
}
