.page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}
@media (max-width: 940px) {
  .page {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
