.authbutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.button {
  font-size: 16px;
  text-align: center;
  line-height: auto;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  width: 140px;
  height: 44px;
  transition: ease 0.3s;
  align-content: center;
}
.profile {
  color: #71b2de;
  border: 1px #71b2de solid;
}
.profile:hover {
  background-color: #71b2de;
  color: #e5ecf3;
}
.signup {
  color: #90001d;
  border: 1px #90001d solid;
}
.signup:hover {
  background-color: #90001d;
  color: #e5ecf3;
}
.noticon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.noticon:hover {
  transform: scale(1.2);
}
.unread {
  position: relative;
}
.unread::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: red;
  z-index: 2;
}

@media (max-width: 1024px) {
  .button {
    font-size: 14px;
    width: 110px;
    height: 35px;
  }
  .noticon {
    width: 28px;
    height: 28px;
  }
}
