.savedproperties {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: calc(100% - 192px);
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 100vh;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: #374151;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #6b7280;
}
.confirmoverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.confirmmodal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.confirmmodal p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.confirmbuttons {
  display: flex;
  justify-content: space-around;
}

.cancelbtn,
.confirmdeletebtn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.cancelbtn {
  background-color: #ccc;
  color: #333;
}

.confirmdeletebtn {
  background-color: #d32f2f;
  color: white;
}

.confirmdeletebtn:hover {
  background-color: #b71c1c;
}

.cancelbtn:hover {
  background-color: #aaa;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 24, 39, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e5e7eb;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #93c5fd;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
