@import "tailwindcss";


:root {
  --background: #e5ecf3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5ecf3;
    --foreground: black;
  }
}

* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  direction: rtl;
  unicode-bidi: embed;
}
