.profile_page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1280px) {
  .profile_page {
    gap: 25px;
  }
}
@media (max-width: 940px) {
  .profile_page {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
  }
}
