.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  width: 400px;
  border-radius: 8px;
  background-color: #f0eae1;
  color: #252525;
  z-index: 10000;
}
.p {
  font-size: 18px;
  display: block;
  margin: auto;
  width: fit-content;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: #557b97;
  transition: all 0.3s;
  margin: 30px auto 10px auto;
  display: block;
  cursor: pointer;
}
.btn:hover {
  background-color: #456883;
}
