.page {
  margin: 0;
  padding: 0;
}
.addBtn {
  background-color: #557b97;
  color: #2a2a2a;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  padding: 16px 100px;
  margin: 78px 272px 0 0;
  cursor: pointer;
  margin-bottom: 100px;
  transition: 0.3s;
}
.addBtn:hover {
  background-color: #466a85;
}
.error {
  width: 400px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #90001d;
  background-color: bisque;
  border-radius: 25px;
  padding: 20px;
}
.hide {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 24, 39, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e5e7eb;
  font-size: 18px;
  font-family: Arial, sans-serif;
}


.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #93c5fd;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .addBtn {
    font-size: 16px;
    padding: 14px 75px;
  }
  .error {
    width: 300px;
    font-size: 14px;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .addBtn {
    font-size: 14px;
    padding: 12px 60px;
    margin: 40px auto 60px auto;
    display: block;
  }
  .error {
    width: 250px;
    font-size: 12px;
    padding: 12px;
  }
}
