@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.search {
  width: fit-content;
  margin: auto;
  display: block;
  margin-top: 30px;
  color: #e5ecf3;
  position: relative;
}

.options {
  display: flex;
  gap: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
}

.choice {
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.choice.selected {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #252525;
  text-underline-offset: 7px;
  font-weight: 700;
  color: #252525;
}
.searchWrapper {
  position: relative;
}
.input {
  width: 800px;
  height: 80px;
  background-color: #fff;
  border: 4px #c0c0c0 solid;
  border-radius: 24px;
  outline: none;
  padding: 20px;
  color: #252525;
  font-size: 18px;
  font-weight: 900;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  text-align: right;
  transition: all 0.2s ease-in-out;
  padding-left: 120px;
  z-index: 19;
}
.input::placeholder {
  font-size: 16px;
  color: #c0c0c0;
  text-decoration: none;
}
.input:focus {
  background-color: #eee;
}

.searchBtn {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
  padding: 12px 30px;
  background-color: #71b2de;
  color: #fff;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  z-index: 1;
}
.searchBtn:hover {
  background-color: #4e84a8;
}
.searchBtn:disabled {
  background-color: #71b2dea9;
  cursor: not-allowed;
}
.img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .input {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .options {
    font-size: 14px;
  }
  .input {
    width: 365.4px;
    height: 56.7px;
    border: 3px #c0c0c0 solid;
    font-size: 14px;
    border-radius: 16px;
  }
  .input::placeholder {
    font-size: 12px;
  }
  .img {
    top: 58px;
    width: 28px;
    height: 28px;
  }
  .searchBtn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    left: 42px;
  }
}
