/* userprofile.module.css */
.profileContainer {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  direction: rtl;
  font-family: "Readex Pro", sans-serif;
  margin: 60px auto 300px auto;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.userImage {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.basicInfo {
  flex: 1;
}
.basicInfo p {
  direction: ltr;
  text-align: right;
}
.username,
.email,
.phone,
.joined,
.subscription {
  margin: 5px 0;
  font-size: 15px;
  color: #555;
}

.propertiesSection {
  margin-top: 30px;
}

.propertiesSection h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.propertiesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.propertyCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.propertyCard:hover {
  transform: translateY(-5px);
}

.propertyImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 24, 39, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e5e7eb;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #93c5fd;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
