.imagescontainer {
  width: 50%;
  aspect-ratio: 1.25;
  height: fit-content;
  background-color: #f3ede5;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0px 10px 25px 0px rgb(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}
.mainimage {
  padding: 5px;

  width: 100%;
  overflow: hidden;
}

.mainimage .img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mainimage .img:hover {
  filter: brightness(80%);
}

.bottomimages {
  display: flex;
  flex-direction: row-reverse;
}

.bottomimages > div {
  width: 50%;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

.bottomimages .img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bottomimages .img:hover {
  filter: brightness(80%);
}
.thirdimage .img {
  filter: brightness(40%);
}

.overlaycontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.noimages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #90001d;
}

@media (max-width: 1320px) {
  .imagescontainer {
    padding: 15px;
    width: 52%;
  }
}
@media (max-width: 1068px) {
  .imagescontainer {
    padding: 10px;
    width: 54%;
  }
}
@media (max-width: 948px) {
  .imagescontainer {
    width: 56%;
  }
}
@media (max-width: 848px) {
  .imagescontainer {
    width: 58%;
  }
}
@media (max-width: 768px) {
  .imagescontainer {
    width: 85%;
  }
}
