.container {
  width: calc(100% - 192px);
  color: #252525;
  margin: 0 auto 50px auto;
}
.container h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container p {
  font-size: 16px;
  direction: ltr;
  width: fit-content;
}
@media (max-width: 1168px) {
  .container {
    width: calc(100% - 96px);
  }
  .container h1 {
    font-size: 16px;
  }
  .container p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 48px);
  }
  .container h1 {
    font-size: 16px;
  }
  .container p {
    font-size: 16px;
  }
}
