.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 196px);
  margin: auto;
  margin-top: 70px;
  flex-wrap: wrap;
  gap: 40px;
  align-content: center;
  margin-bottom: 50px;
}
.h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #557b97;
  margin-right: 96px;
}
@media (max-width: 1435px) {
  .container {
    width: calc(100% - 64px);
  }
}

@media (max-width: 1366px) {
  .container {
    width: calc(100% - 64px);
  }
}
@media (max-width: 1200px) {
  .container {
    width: calc(100% - 52px);
  }
  .h1 {
    margin-right: 48px;
  }
}
@media (max-width: 832px) {
  .container {
    width: calc(100% - 32px);
  }
  .h1 {
    margin-right: 32px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 32px);
    gap: 24px;
  }
  .h1 {
    font-size: 16px;
  }
}
