.page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}

@media (max-width: 940px) {
  .page {
    flex-direction: column;
    gap: 30px;
  }
}
