.documents {
  margin: 50px;
  text-align: center;
}

.hide {
  display: none;
  width: 100%;
  height: 100%;
}
.uploadContainer {
  width: 450px;
  height: 250px;
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  background-color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #333;
  font-size: 16px;
  display: block;
  margin: 50px auto;

  font-weight: bold;
  color: #252525;
}

.uploadContainer:hover {
  color: white;
  border-color: #aaa;
  background-color: #557b97ea;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 50px auto 0 auto;

  width: calc(100% - 400px);
}

.img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 5px solid #ddd;
}

.addimg {
  width: 80px;
  height: 80px;
  margin: 15px auto;
}
.label {
  cursor: pointer;
}

/* .videoWrapper {
  margin-top: 90px;
  border: 3px solid #557b97;
  border-radius: 16px;
  padding: 10px;
  background-color: #f0f4f8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} */

/* Plyr-specific style overrides */
.plyr {
  border-radius: 12px;
  overflow: hidden;
}

.plyr__controls {
  background: rgba(0, 0, 0, 0.5);
}

.plyr__progress input[type="range"] {
  color: #557b97;
}
.clearBtn {
  margin: 50px auto;
  display: block;
  padding: 10px 20px;
  border: none;
  background-color: #90001d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.clearBtn:hover {
  background-color: #e04646;
}
.inputerror {
  border: 2px solid #90001d;
}
@media (min-width: 1025px) and (max-width: 1336px) {
  .images {
    width: calc(100% - 470px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .uploadContainer {
    font-size: 14px;
  }
  .images {
    width: calc(100% - 350px);
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .images {
    width: calc(100% - 225px);
  }
}

@media (max-width: 768px) {
  .uploadContainer {
    font-size: 14px;
  }
  .images {
    width: calc(100% - 350px);
  }
}
@media (max-width: 572px) {
  .uploadContainer {
    font-size: 14px;
    width: 100%;
  }
  .images {
    width: calc(100%);
  }
}
