.container {
  display: flex;
  justify-content: space-evenly;
  margin: 200px auto;
  color: #252525;
  align-items: center;
  font-size: 14px;
}
.exclusive {
  background: linear-gradient(to left, #584f0080, #f3ede5);
  border-radius: 25px;
  width: 450px;
  height: 297px;
  padding: 60px;
  padding-top: 30px;
  font-weight: 600;
}
.special {
  background: linear-gradient(to left, #3f3d2a8a, #f3ede5);
  border-radius: 25px;
  width: 450px;
  height: 297px;
  padding: 60px;
  padding-top: 30px;
  font-weight: 600;
}
.exh {
  background: linear-gradient(to left, #584f00, #beab00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.sph {
  background: linear-gradient(to left, #3f3d2a, #a09d87);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.list {
  list-style: disc;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .exclusive {
    width: 360px;
    height: 237.6px;
    font-size: 12px;
  }
  .special {
    width: 360px;
    height: 237.6px;
    font-size: 12px;
  }
  .exh {
    font-size: 18px;
  }
  .sph {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .exclusive {
    width: 360px;
    height: 237.6px;
    font-size: 12px;
  }
  .special {
    width: 360px;
    height: 237.6px;
    font-size: 12px;
  }
  .exh {
    font-size: 18px;
  }
  .sph {
    font-size: 18px;
  }
}
