.container {
  width: 70%;
  margin-bottom: 60px;
}
.searchAndFilter {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchWrapper {
  position: relative;
}
.searchInput {
  width: 300px;
  height: 63px;
  padding: 20px;
  outline: none;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-family: "Tajawal";
  direction: rtl;
}
.searchBtn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 80px;
  height: 48px;
  border-radius: 12px;
  background-color: #2c3e50;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.searchBtn:hover {
  background-color: #34495e;
}
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #2c3e50;
  width: 180px;
  height: 49px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-family: "Tajawal";
  font-size: 16px;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.addBtn:hover {
  background-color: #34495e;
}
.addBtn img {
  width: 20px;
  height: 20px;
}
.addBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count {
  font-size: 16px;
  font-family: "Tajawal";
  font-weight: 700;
  color: #252525;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Tajawal", sans-serif;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}
.table thead {
  background-color: #2c3e50;
  color: white;
}
.table th {
  padding: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.table td {
  padding: 12px;
  text-align: center;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #eee;
}
.table tbody tr:hover {
  background-color: #f2f7fb;
  cursor: pointer;
}
.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.delete {
  background-color: rgba(128, 128, 128, 0.186);
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.delete:hover {
  transform: scale(1.5);
}
.pagination_container {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.pagination_btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #d9e4e5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination_btn:hover {
  background-color: #d2d2d2;
}
.pagination_nums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pagination_nums_p {
  min-width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #708387;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  align-content: center;
}
.pagination_nums_p:hover {
  width: 36px;
  height: 36px;
  background-color: #557b97;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}
.page_chosen {
  background-color: #557b97;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .searchAndFilter {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }
  .pagination_container {
    gap: 4px;
  }
}
