.container {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}
.search_filter {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  width: 450px;
  height: 63px;
  padding: 20px;
  outline: none;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-family: "Tajawal";
}
.requests_list {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}
.pagination_container {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.pagination_btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #d9e4e5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination_btn:hover {
  background-color: #d2d2d2;
}
.pagination_nums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pagination_nums_p {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #708387;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  align-content: center;
}
.pagination_nums_p:hover {
  width: 36px;
  height: 36px;
  background-color: #557b97;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}
.page_chosen {
  background-color: #557b97;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .search_filter {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .user {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 940px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    height: fit-content;
    gap: 30px;
  }
  .user_info {
    width: 70%;
  }
  .pagination_container {
    gap: 4px;
  }
  .pagination_nums {
    gap: 8px;
  }
}
@media (max-width: 516px) {
  .user_info {
    width: 100%;
  }
  .searchInput {
    width: 95%;
  }
}
