.request {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px 5px;
}
.request_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.info {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Tajawal";
}
.mutate {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saveBtn {
  width: 100px;
  height: 46px;
  border-radius: 12px;
  background-color: #557b97;
  color: #fff;
  text-align: center;
  align-content: center;
  font-weight: 900;
  font-family: "Tajawal";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.saveBtn:hover {
  background-color: #28618a;
}
.saveBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
