.users_client {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}
.search_filter {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  width: 450px;
  height: 63px;
  padding: 20px;
  outline: none;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-family: "Tajawal";
}
.users {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.user {
  padding: 20px;
  width: 80%;
  height: 80px;
  border-radius: 16px;
  border: 3px solid #557b97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.username {
  font-size: 18px;
  font-weight: 900;
  font-family: "Tajawal";
  color: #557b97;
}
.user_info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-family: "Tajawal";
}
.user_info span {
  font-weight: 900;
  color: #d32f2f;
}
.viewbtn {
  width: 140px;
  height: 46px;
  border-radius: 12px;
  background-color: #557b97;
  color: #fff;
  text-align: center;
  align-content: center;
  font-weight: 900;
  font-family: "Tajawal";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.viewbtn:hover {
  background-color: #28618a;
}
.pagination_container {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.pagination_btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #d9e4e5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination_btn:hover {
  background-color: #d2d2d2;
}
.pagination_nums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pagination_nums_p {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #708387;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  align-content: center;
}
.pagination_nums_p:hover {
  width: 36px;
  height: 36px;
  background-color: #557b97;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}
.page_chosen {
  background-color: #557b97;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
}
.dotstyle {
  background-color: none;
  justify-self: center;
  align-self: center;
}
.dotstyle:hover {
  background-color: none;
  background: none;
}
@media (max-width: 1200px) {
  .search_filter {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .user {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 940px) {
  .users_client {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    height: fit-content;
    gap: 30px;
  }
  .user_info {
    width: 70%;
  }
}
@media (max-width: 516px) {
  .user_info {
    width: 100%;
  }
  .searchInput {
    width: 95%;
  }
}
